<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="/css/polaris.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/assets/polaris.svg">
    <title><%= t('servers_page.title') %></title>
    <meta property="og:title" content="<%= t('servers_page.title') %>">
    <meta property="og:description" content="<%= t('servers_page.description') %>">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#00ff80">
    <meta name="twitter:card" content="summary">
</head>
<body>
    <h2 class="middleflex" id="loading"><%= t('servers_page.loading') %></h2>

    <div id="everything" style="display: none">
        <div class="centerflex" style="flex-direction: column">
            <h2 style="font-size: 30px"><%= t('servers_page.welcome_back') %> <span id="username"></span></h2>
            <p style="font-size: 20px; margin-top: 4px; margin-bottom: 25px"><%= t('servers_page.select_server') %></p>
        </div>

        <div id="serverList" style="padding-bottom: 20px"></div>

        <div class="middleflex" style="padding-bottom: 30px">
            <a tabindex="-1" href="/logout"><button class="boringbutton" style="font-size: 22px; text-align: center; text-decoration: underline;"><%= t('servers_page.log_out') %></button></a>
        </div>

        <div class="serverOption canfocus" tabindex="0">
            <div class="middleflex" style="width: 10px; justify-content: flex-start">
                <img sv="icon">
                <div>
                    <p style="font-size: 22px"><b sv="name"></b></p>
                    <p sv="status"></p>
                </div>
            </div>
            <div class="serverIcons" style="display: flex; align-items: center;">
                <a class="canfocus" sv="leaderboard" title="<%= t('servers_page.tooltips.leaderboard') %>"><img src="/assets/icons/podium.svg"></a>
                <a class="canfocus" sv="settings" title="<%= t('servers_page.tooltips.settings') %>"><img src="/assets/icons/cog.svg"></a>
                <a class="canfocus" sv="downloaddata" title="<%= t('servers_page.tooltips.download') %>"><img src="/assets/icons/download.svg"></a>
                <a class="canfocus" sv="invite" title="<%= t('servers_page.tooltips.invite') %>"><img src="/assets/icons/plus.svg"></a>
            </div>
        </div>
    </div>

    <script>
        window.i18nServers = {
            owner: "<%= t('servers_page.js.server_owner') %>",
            moderator: "<%= t('servers_page.js.moderator') %>",
            member: "<%= t('servers_page.js.member') %>",
            confirm_dl_1: "<%= t('servers_page.js.confirm_download_1') %>",
            confirm_dl_2: "<%= t('servers_page.js.confirm_download_2') %>",
            error: "<%= t('servers_page.js.error') %>",
            error_dl: "<%= t('servers_page.js.error_downloading') %>"
        };
    </script>
    <script>
        window.i18nGlobal = {
            error_title: "<%= t('global_js.error_title') %>",
            log_in: "<%= t('global_js.log_in') %>"
        };
    </script>

    <script type="text/javascript" src="/polaris.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="/js/servers.js"></script>
</body>
</html>